#menuTopBox {
    width:940px;
    height:25px;
    float:left;
    background-color:#5e5b50;
}

#menuTop ul {
    font-family: Arial, Verdana;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    z-index:99;
}
 
#menuTop ul li { display: block; float: left;}
#menuTop li ul { display: none; }
 
#menuTop ul li a {
    display: block;
    text-decoration: none;
    color: #d8d4c9;
    /*border-top: 1px solid #ffffff;*/
    padding: 5px 15px 5px 15px;
    background: #049C37;
    background: #5e5b50;
    
    margin-left: 1px;
    white-space: nowrap;
    font-weight:normal;
}

.ulLv2 { width:150px;}
 
#menuTop ul li a:hover { background: #beb8a3; background: #7d7865; color:#fff; }
#menuTop li:hover ul { display: block; position: absolute; }
#menuTop li.submenu ul { display: none; }
#menuTop li.submenu:hover ul { display: block; position: absolute; top: 0px; }
#menuTop li.submenu ul li { position:relative; left:150px;}
#menuTop li.submenu ul li a { display: block; }

#menuTop li:hover li { float: none; font-size: 11px; }
#menuTop li:hover a { color:#fff;  background: #7d7865; font-weight:normal; }
#menuTop li:hover li a:hover {color:#fff; background:#beb8a3;}
